name: Dispatch deploy lambdas on merge to qa
on:
  push:
    branches:
      - qa
jobs:
  dispatch:
    strategy:
      matrix:
        repo: ['elstr/repo-with-serverless-deploy-1', 'elstr/repo-with-serverless-deploy-2']
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: ${{ matrix.repo }}
          event-type: redeploy
          client-payload: '{"branch": "qa"}'



